   <div class="row">
    <div class="column side">
        <button type="button" onclick="location.href='new-input-h' "class="btn btn-primary btn-lg" id="person">Human Seeking Dog</button></div>
    <div class="center">
        <img src="/img/Growlr_Final.png" alt="logo" id="logo" class="center" /></div>
    <div class="column side">
        <button type="button" onclick="location.href='new-input-d' "class="btn btn-primary btn-lg" id="dog">Dog Seeking Human</button></div>
    </div>
    
    <div class="center">   <h2><center>Your perfect dog. Their perfect home.</center> </h2>
 </div>
  </div>   
</div>


   