<div class="container1">
  <div class="row justify-content-between">
    <div class="col-4">
      <button type="button" onclick="location.href="" "class="btn btn-primary btn-lg" id="pass">Pass</button>
    </div>
   
   
   <img src="/img/pug.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
    <!-- We need to have the dog's image scroll through here....  -->
   
   
   
   
   
    <div class="col-4">
      <button type="button" onclick="location.href='' "class="btn btn-primary btn-lg " id="interested">Interested</button>
      </div>
  </div>
  <br>
  <br>
  <br>
<br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <button type="button" onclick="location.href='' "class="btn btn-primary btn-lg"  id="info">More Info</button>
  
  </div>
</div>
</div>