<form method="POST" action="/new-survey-d">
<body class = "questions"> 
    <div class='card-panel left-align grey'>
 <br>
    <h5><strong></strong>Question 1</h5>
    <p>How energetic is the dog?</p>
    <select data-placeholder="" class="browser-default" id="q2">
            <option value="">Choose an option</option>
            <option value="1">Very active!</option>
            <option value="2">Moderately active!</option>
            <option value="3">Not active at all!</option>
        </select>
<h5><strong>Question 2</strong></h5>
<p>Does your dog do well with children?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes!</option>
<option value="2">No!</option>

</select>
<h5><strong>Question 3</strong></h5>
<p>How much space do you think would be most beneficial for your dog?</p>
<select data-placeholder="" class="browser-default" id="q3">
<option value="">Choose an option</option>
<option value="1">1 (Quite small would be fine!)</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5 (Overwhelmingly large is best.)</option>
</select>
<h5><strong>Question 4</strong></h5>
<p>How much does the dog shed? </p>
<select data-placeholder="" class="browser-default" id="q4">
<option value="">Choose an option</option>
<option value="1">Sheds an entirely other dog everyday. </option>
<option value="2">Sheds quite a bit.</option>
<option value="3">Doesn't shed too much. </option>
<option value="4">Doesn't shed at all.</option>
</select>
<h5><strong>Question 5</strong></h5>
<p>Is your dog good with other pets?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes!</option>
<option value="2">No!</option>

</select>
<h5><strong>Question 6</strong></h5>
<p>Does your dog have seperation anxiety?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes! Cannot be left alone for longer than normal lengths of time.</option>
<option value="2">Sometimes.</option>
<option value="3">No! </option>

</select>
    
    
        <div class="form-group">
          <label for="exampleInputFile">Upload a Photo of Your Dog</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit Survey</button>
    </fieldset>
  </div>
</div>
</form>