   <div class="form">  
    <form method="POST" action="/new_input_d">
      <fieldset>
        <legend><center>Step 1: Input Your Dog's Information</center></legend>
          <div class="form-group row">
          </div>
              <div class="i-am-centered">
                <div class="row">
                  <div class="col-lg-5">
                  <div class="form-group">
                    <label for="DogName">Dog's Name</label>
                    <input type="text" name="name" class="form-control" id="dogsname" aria-describedby="emailHelp" placeholder="Dog's Name">
                  </div>
                  </div>

                  <div class="col-lg-2">
                  <div class="form-group">
                    <label for="DogAge">Dog's Age</label>
                    <input type="number" name="age" class="form-control" id="dogsage" aria-describedby="emailHelp" placeholder="Dog's age"> 
                  </div>
                  </div>
                
                    <div class="col-lg-1">
                      <div class="form-group">
                        <label for="DogsSex">Dog's Sex</label>
                        <input type="sex" class="form-control" id="dogssex" aria-describedby="emailHelp" placeholder="Dog's sex"> 
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="DogBreed">Dog's Breed</label>
                        <input type="breed" class="form-control" id="dogsbreed" aria-describedby="emailHelp" placeholder="Dog's Breed">
                      </div>
                    </div>
                  </div>
              </div>
                  
                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label for="SponsorName">Sponsor's Name</label>
                      <input type="name" class="form-control" id="sponsorname" aria-describedby="emailHelp" placeholder="Who is Sponsoring this dog?"> 
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sponsor's email">
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Phone Number</label>
                      <input type="phone number" class="form-control" id="exampleInputPassword1" placeholder="Sponsor's Phone number">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Sponsor Address</label>
                      <input type="address" class="form-control" id="exampleInputPassword1" placeholder="Sponsor's Address">
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="exampleInputPassword1">City</label>
                      <input type="city" class="form-control" id="exampleInputPassword1" placeholder="City">
                    </div>
                  </div>

                  <div class="col-lg-1">
                    <div class="form-group">
                      <label for="exampleInputPassword1">State</label>
                      <input type="state" class="form-control" id="exampleInputPassword1" placeholder="State">
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Zip</label>
                      <input type="zip" class="form-control" id="exampleInputPassword1" placeholder="Zip">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Good to knows</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputFile">Upload a Photo of Your Dog</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
                  </div>
                </div>

                </fieldset>
                <button type="submit" onclick="location.href='new-survey-d' "class="btn btn-primary"><center>Submit</center></button>
              </fieldset>
                  
      </form>
  