<form method="POST" action="/new-survey-h">
<div class='card-panel left-align grey'>
 <br>
    <h5><strong></strong>Question 1</h5>
    <p>In your free time, how active are you?</p>
    <select data-placeholder="" class="browser-default" id="q2">
            <option value="">Choose an option</option>
            <option value="1">Very active!</option>
            <option value="2">Moderately active!</option>
            <option value="3">Not active at all!</option>
        </select>
<h5><strong>Question 2</strong></h5>
<p>Do you have children?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes!</option>
<option value="2">No!</option>

</select>
<h5><strong>Question 3</strong></h5>
<p>How big is your home?</p>
<select data-placeholder="" class="browser-default" id="q3">
<option value="">Choose an option</option>
<option value="1">1 (Quite small)</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5 (Overwhelmingly Large)</option>
</select>
<h5><strong>Question 4</strong></h5>
<p>In your free time, do you have a lot of time for cleaning? </p>
<select data-placeholder="" class="browser-default" id="q4">
<option value="">Choose an option</option>
<option value="1">Lots of time!</option>
<option value="2">I've got a good amount of time!</option>
<option value="3">Not too much time!</option>
<option value="4">No time at all!</option>
</select>
<h5><strong>Question 5</strong></h5>
<p>Do you have other pets?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes!</option>
<option value="2">No!</option>

</select>
<h5><strong>Question 6</strong></h5>
<p>Do you travel for work a lot?</p>
<select data-placeholder="" class="browser-default" id="q2">
<option value="">Choose an option</option>
<option value="1">Yes!</option>
<option value="2">Sometimes!</option>
<option value="3">No!</option>

</select>
<button type="submit">Submit Survey</button>
</form>