

body {
    background-color:rgb(228, 101, 3);


}

.form{
    padding: 10px;
    margin: 10px;
}



.container {
    width: 18%;
}

.questions{
   margin: 20px;
}


}

body {
    background-color:rgb(228, 101, 3);


}

.form{
    padding: 10px;
    margin: 10px;
}

.container {
    width: 18%;
}

.questions{
   margin: 20px;
}

#logo{
    height:272px;
    width: 230px;